.header {
	display: flex;
	align-items: center;

	justify-content: center;

	width: 100%;
	height: 6.4rem;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
