.header {
	display: flex;
	align-items: center;

	justify-content: center;

	width: 100%;
	height: 6.4rem;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__navigation {
		--font-size: 1.8rem;

		ul {
			display: flex;
			align-items: center;
			gap: var(--spacing-l);
		}

		li {
			list-style: none;

			font-size: var(--font-size);
		}
	}
}
