.news {
	flex: 1;
	flex-direction: column;

	&__items {
		display: flex;
		flex-direction: column;

		gap: var(--spacing-m);

		&_fallback {
			height: 204px;
		}
	}

	&__item {
		display: flex;
		align-items: center;

		padding: var(--border-radius-ui) var(--spacing-s);

		transition: border-color 0.2s ease;

		border: 1px solid var(--color-accent-3);

		border-radius: var(--border-radius-ui, 0.8rem);
		background: var(--color-background-300);
		gap: var(--spacing-s);

		span {
			height: 100%;
		}

		&__image {
			--size: 4.2rem;

			position: relative;

			overflow: hidden;

			width: var(--size);
			min-width: var(--size);
			height: var(--size);
			min-height: var(--size);

			border: 1px solid var(--color-accent-3);

			border-radius: var(--border-radius-ui);

			img {
				object-position: center;
				object-fit: cover;
			}
		}

		&__info {
			display: flex;

			overflow: hidden;
			flex-direction: column;
			justify-content: center;

			width: 100%;
			gap: var(--spacing-xxs);
		}

		&__heading {
			overflow: hidden;

			white-space: nowrap;
			text-wrap: nowrap;
			text-overflow: ellipsis;

			font-size: 1.6rem;
			font-weight: 500;
		}

		&__tags {
			display: flex;
			align-items: center;
			gap: var(--spacing-xxs);

			span {
				text-align: center;

				color: var(--color-text-100);

				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.4rem;
			}
		}

		@media (width > 768px) {
			&:hover {
				border-color: var(--color-accent-4);
			}
		}
	}

	&__button {
		display: flex;
		justify-content: center;

		width: 100%;
	}
}
