.footer {
	display: flex;
	flex-direction: column;

	margin-top: var(--spacing-xxl);
	margin-bottom: calc(var(--spacing-l) + env(safe-area-inset-bottom));

	padding: var(--spacing-xl, 2rem) var(--spacing-xxl, 2.4rem);

	border: 1px solid var(--color-accent-3);
	border-radius: var(--border-radius-layout);
	background-color: var(--color-background-200);
	gap: var(--spacing-xxl);

	span,
	a {
		transition: color 0.2s ease;

		font-family: var(--font-montserrat);
		font-size: 1.4rem;

		font-weight: 600;
		line-height: 2.5rem;

		@media (width <= 768px) {
			font-size: 1.3rem;
		}
	}

	a:active {
		color: var(--color-text-0);
	}

	&__top {
		display: flex;

		justify-content: space-between;

		&__nav {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-s);

			color: var(--color-text-100, #aaaaaa);

			@media (width <= 768px) {
				flex-direction: row;
			}

			@media (width <= 375px) {
				flex-direction: column;
				gap: var(--spacing-l);
			}
		}

		@media (width <= 768px) {
			gap: var(--spacing-s);

			flex-direction: column;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-s);

		&__content {
			display: flex;
			justify-content: space-between;

			color: var(--color-text-200);

			@media (width <= 375px) {
				flex-direction: column;
				gap: var(--spacing-xs);
			}
		}

		&__links {
			display: flex;
			gap: var(--spacing-l);
		}
	}

	&__links {
		display: flex;

		gap: var(--spacing-l);

		@media (width <= 768px) {
			flex-direction: column;
			gap: var(--spacing-m);

			width: 100%;
		}
	}

	@media (width > 768px) {
		a:hover {
			color: var(--color-text-0);
		}
	}

	@media (width <= 768px) {
		padding: var(--spacing-l) var(--spacing-xl);

		gap: var(--spacing-l);
	}
}
