.sidebar {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxxl);

	@media (width <= 1024px) {
		gap: var(--spacing-xxl);
	}

	@media (width <= 768px) {
		gap: var(--spacing-xl);
	}

	@media (width <= 425px) {
		gap: var(--spacing-m);
	}
}

.section {
	display: flex;

	width: 34rem;
	padding: var(--spacing-l);

	border: 1px solid var(--color-accent-3);

	border-radius: 1.6rem;
	background: var(--color-background-200);
	gap: var(--spacing-l);

	@media (width <= 768px) {
		width: 100%;
	}
}
