.projects {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-l);
}

.card {
	display: flex;
	align-items: center;

	flex: 1;

	min-width: 27.2rem;

	height: 12rem;
	max-height: 15.5rem;
	padding: var(--spacing-xl, 2rem);

	border: 1px solid var(--color-accent-3);

	border-radius: 1.6rem;
	background: var(--color-pcard-background, var(--color-background-200));
	gap: var(--spacing-l, 1.6rem);

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 1rem;

		border-radius: 0.9rem;
		background: var(--color-pcard-icon, var(--color-background-300));

		span {
			font-size: 3rem;
		}
	}

	&__info {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: var(--spacing-xs, 0.6rem);
	}

	&__title {
		color: var(--color-pcard-accent, var(--color-text-0));

		// font-size: 2.9rem;
		// font-weight: 700;
		// line-height: normal;
	}

	&__description {
		color: var(--color-pcard-description, var(--color-text-100));

		font-size: 1.6rem;
		font-weight: 600;
	}
}
