@mixin dark {
	--hero-brightness: 0.5;
	color-scheme: dark;
	@include dark-colors;
}

@mixin light {
	--hero-brightness: 0.9;
	color-scheme: light;
	@include light-colors;
}

@mixin auto {
	@media (prefers-color-scheme: dark) {
		@include dark;
	}

	@media (prefers-color-scheme: light) {
		@include light;
	}
}

html {
	@include auto;
}

html[data-theme="dark"] {
	@include dark;
}

html[data-theme="light"] {
	@include light;
}

html[data-theme="auto"] {
	@include auto;
}
