@import "base";

::selection {
	color: var(--color-hue-carborado-900);
	background-color: var(--color-primary);
}

html {
	font-size: 62.5%;
}

body {
	position: relative;

	display: flex;
	overflow: clip;
	flex-direction: column;

	text-wrap: balance;

	color: var(--color-text-0);
	background-color: var(--color-background-100);

	font: var(--text-def);
	fill: currentColor;

	@media (width <= 768px) {
		font: var(--text-def-mobile);
	}
}

.page {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--spacing-s);

	padding: 0 var(--spacing-l);

	@media (width <= 768px) {
		gap: var(--spacing-xxs);
	}

	@media (width <= 425px) {
		padding: 0 var(--spacing-s);
	}
}

.wrapper {
	width: 100%;
	max-width: 110rem;

	@media (width <= 768px) {
		max-width: 50rem;
	}
}

.stack {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	gap: var(--spacing-xxxxl);

	@media (width <= 768px) {
		gap: var(--spacing-xxl);
	}
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxl);

	@media (width <= 768px) {
		gap: var(--spacing-l);
	}
}

.divider {
	width: 100%;
	height: 1px;

	background: var(--color-accent-3);
}

.page-title {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: var(--spacing-xxl) 0;

	@media (width <= 425px) {
		padding: var(--spacing-xl) 0;
	}
}

.prose {
	:where(p) {
		margin-top: var(--spacing-xl);
		margin-bottom: var(--spacing-xl);

		font-family: var(--font-geist);
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.75;
	}

	:where(a) {
		color: var(--color-primary);
	}

	:where(h1) {
		margin-top: 0;
		margin-bottom: var(--spacing-xxxl);

		font-family: var(--font-montserrat);
		font-size: 3.2rem;
		font-weight: 700;
		line-height: 4rem;
	}

	:where(h2) {
		margin-top: var(--spacing-xxxxl);
		margin-bottom: var(--spacing-xxl);

		font-family: var(--font-montserrat);
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 3.1rem;
	}

	:where(h2:not(:is(h1 + h2))) {
		padding-top: var(--spacing-xxxxl);

		border-color: var(--color-accent-3);
		border-top-width: 1px;
		border-top-style: solid;
	}

	:where(h3) {
		margin-top: var(--spacing-xxl);
		margin-bottom: var(--spacing-m);

		font-size: 2rem;
		font-weight: 700;
		line-height: 2.5rem;
	}

	:where(h4),
	:where(p:is(p > strong)) {
		margin-bottom: var(--spacing-s);

		font-family: var(--font-geist);
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 2.6rem;
	}

	:where(& > :first-child),
	:where(h2 + *),
	:where(h3 + *),
	:where(h4 + *) {
		margin-top: 0;
	}
}

.styled-scrollbar {
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 11px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 999px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

@media (hover: hover) {
	.styled-scrollbar:hover::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
		background-color: var(--color-accent-4);
		background-clip: content-box;
	}
}
