@import "base";

::selection {
	color: var(--color-background-100);
	background-color: var(--color-primary);
}

html {
	font-size: 62.5%;
}

body {
	position: relative;

	display: flex;
	overflow: clip;
	flex-direction: column;

	text-wrap: balance;

	color: var(--color-text-0);
	background-color: var(--color-background-100);

	font: var(--text-def);
	fill: currentColor;

	@media (width <= 768px) {
		font: var(--text-def-mobile);
	}
}

.page {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--spacing-s);

	padding: 0 var(--spacing-l);

	@media (width <= 768px) {
		gap: var(--spacing-xxs);
	}

	@media (width <= 425px) {
		padding: 0 var(--spacing-s);
	}
}

.wrapper {
	width: 100%;
	max-width: 110rem;

	@media (width <= 768px) {
		max-width: 50rem;
	}
}

.stack {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	gap: var(--spacing-xxl);

	@media (width <= 768px) {
		gap: var(--spacing-xl);
	}
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-l);

	@media (width <= 768px) {
		gap: var(--spacing-m);
	}
}
