.project {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-12);

	&__main {
		display: flex;
		gap: var(--spacing-8);

		&__content {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		@media (width <= 768px) {
			flex-direction: column;
		}

		@media (width <= 425px) {
			padding: 0 var(--spacing-4);
		}
	}

	@media (width <= 425px) {
		gap: var(--spacing-9);
	}
}
