.hero {
	position: relative;

	display: flex;

	overflow: hidden;
	align-items: center;

	width: 100%;

	padding: 0 5.8rem;

	border: 1px solid var(--color-accent-3);
	border-radius: var(--border-radius-layout);

	&__image {
		user-select: none;

		background: linear-gradient(0deg, rgb(18 18 18 / 60%) 0%, rgb(18 18 18 / 60%) 100%);
	}

	&__textbox {
		z-index: 9999999999;

		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);

		margin-top: -1.2rem;
	}

	&__title {
		display: flex;
		flex-direction: column;

		h1 {
			font-size: 7.2rem;
			line-height: normal;
		}

		&_first {
			color: var(--color-hue-carborado-0);

			font-weight: 500;
		}

		&_second {
			color: var(--color-primary);

			font-weight: 700;
		}
	}

	&__subtitle {
		color: var(--color-hue-carborado-300);

		font-size: 2.4rem;
		font-weight: 500;
	}
}
