.meta {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs, 0.6rem);

	span {
		color: var(--color-text-100, #b3b3b3);

		font-size: 1.6rem;

		font-weight: 500;

		@media (width <= 460px) {
			font-size: 1.4rem;
		}
	}

	&__image {
		--size: 2.5rem;

		position: relative;

		overflow: hidden;

		width: var(--size);
		height: var(--size);

		border: 1px solid var(--color-accent-4, #4d4d4d);

		border-radius: 99999px;
	}
}
