.button {
	display: flex;

	align-items: center;

	width: fit-content;
	height: fit-content;

	cursor: pointer;

	transition: background-color 0.2s ease-out;

	color: var(--button-color);

	border: none;

	border-radius: 9999px;

	background-color: var(--button-background);

	gap: var(--spacing-m);
	fill: currentColor;

	span {
		background-color: transparent;

		font-family: var(--font-family-montserrat);
		font-size: var(--button-font-size);
		font-weight: var(--button-font-weight, 500);
		line-height: var(--button-line-height, normal);
	}

	&:hover {
		@media (width > 768px) {
			background-color: var(--button-background-hovered);
		}
	}

	&:active {
		background-color: var(--button-background-active);
	}

	// TODO small versions

	&_l {
		--button-font-size: 1.5rem;

		padding: var(--spacing-s) var(--spacing-m);
	}

	&_m {
		--button-font-size: 1.4rem;

		padding: var(--spacing-xs) var(--spacing-m);
	}

	&_s {
		--button-font-size: 1.3rem;

		padding: var(--spacing-xs) var(--spacing-s);
	}

	&_primary {
		--button-color: var(--color-background-200);
		--button-background: var(--color-primary);
		--button-background-hovered: var(--color-primary-light);
		--button-background-active: var(--color-primary-dark);
	}

	&_secondary {
		--button-color: var(--color-text-0, currentColor);
		--button-background: var(--color-background-300);
		--button-background-hovered: var(--color-background-400);
		--button-background-active: color-mix(in sRGB, var(--color-background-400), 30% transparent);
	}

	&_transparent {
		--button-color: var(--color-text-0, currentColor);
		--button-background: transparent;
		--button-background-hovered: var(--color-background-300);
		--button-background-active: color-mix(in sRGB, var(--color-background-300), 30% transparent);
	}

	&_text {
		--button-color: var(--color-primary);
		padding: var(--spacing-xxs);
	}

	@media (width <= 768px) {
		font: var(--text-def-mobile);
	}
}
