.navigation {
	position: sticky;

	top: 9.2rem;

	display: flex;

	overflow: hidden;

	flex-direction: column;

	min-width: 26rem;
	max-width: 26rem;

	height: calc(100vh - 9.2rem);

	&__sections {
		display: flex;

		overflow-y: scroll;
		flex-direction: column;

		margin-bottom: var(--spacing-xl);

		gap: var(--spacing-l, 1.6rem);
	}

	&__section {
		display: flex;

		flex-direction: column;
		gap: var(--spacing-xxs);
	}

	&__docs {
		display: flex;
		flex-direction: column;

		padding-left: var(--spacing-xxxs, 0.2rem);
		gap: var(--spacing-xxs, 0.4rem);
	}

	@media (width <= 768px) {
		display: none;
	}
}

.button {
	display: flex;

	overflow: hidden;
	align-items: center;

	width: 100%;
	padding: var(--spacing-xxs, 0.4rem) var(--spacing-s, 0.8rem);

	transition: 0.15s color ease;

	white-space: nowrap;

	text-overflow: ellipsis;

	gap: var(--spacing-s);

	&_section {
		color: var(--color-text-0);

		font-family: var(--font-montserrat);
		font-weight: 600;
	}

	&_doc {
		color: var(--color-text-100);

		font-family: var(--font-geist);
		font-weight: 400;
	}

	&:hover {
		color: var(--color-text-0);
	}

	&_active {
		color: var(--color-primary);

		&:hover {
			color: var(--color-primary);
		}
	}

	span {
		overflow: hidden;

		width: 100%;

		text-overflow: ellipsis;

		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}
